*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(192,225,215);
}

.conteudo{
    background-color: rgb(122,198,192);
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 70vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
} 

.titulo-pag {
    text-align: center;
    margin: 30px 0 40px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: "Merienda";
}

label{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

input{
    width: 50vh;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.185);
    margin-bottom: 15px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

input::placeholder{
    color: #000000;
    font-size: 18px;
 
}

.formulario button{
    padding: 8px 12px;
    background-color: #000000;
    color: rgb(192,225,215);
    border: 2px solid black;
    cursor: pointer;
    font-size: 15px;
    display: flex;    
}

.formulario button:hover{
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.185);
}

.erro{
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}