@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


.area {
    margin-left: 350px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(192,225,215);
}

.conteudo {
    background-color: rgb(122,198,192);
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.39);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 50px 200px;
}

.titulo-pag {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: rgb(29,29,27);
    text-align: center;
    font-family: "Merienda";
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    font-family: "Merienda";
}

form input,
form select {
    width: 70vh;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.185);
    margin-bottom: 15px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

form .btn {
    margin-bottom: 30px;
    padding: 8px 12px 8px 12px;
    background-color: #000000;
    color: rgb(192,225,215);
    border-radius: 12px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 15px;
    display: flex;    
    text-align: center;
}

form .btn:hover {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.185);
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        box-shadow: none;
        text-align: center;
    }

    .sidebar .menu .link-menu {
        display: inline-block;
        margin: 0 5px;
    }

    .area {
        padding: 20px;
    }

    .conteudo {
        padding: 15px;
    }
}