.area-principal {
    flex: 1;
    padding: 20px;
}

.titulo {
    text-align: center;
    margin: 30px 0 40px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: "Merienda";
}

.pastas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.aulas {
    width: 300px;
    height: auto;
    background-color: rgb(122,198,192);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.curso {
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 600;
    padding-bottom: 20px;
}

.aula, .professor, .horario, .local {
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(29,29,27);
    font-family: 'Times New Roman', Times, serif;
}